.containerHeaderAbout {
  text-align: center;
  position: relative;
  padding: 1rem;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--ion-color-primary, #52796f);
}

.howtocontainer {
  margin-top: -2rem;
}

.swiper {
  height: 75%;
}

.slidecontent {
  padding: 2rem;
}

.slide {
  height: 100%;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50% !important;
  max-width: 80% !important;
  margin: 3rem 0 2rem !important;
  pointer-events: none !important;
}

.swiper-slide p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

.regBtn {
  --border-radius: 2rem;
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  text-transform: none;
}

.regLoginCon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
