.segment {
  margin: 0;
  width: 100%;
}

.toolbarSegment {
  padding: 0.5rem;
  background-color: var(--ion-color-primary, #52796f);
}

.addBtn {
  display: flex !important;
  align-items: center;
}
