ion-item.item-label-floating > ion-label {
  color: #999 !important;
}

ion-item.item-has-focus > ion-label {
  color: #52796f !important;
}

.item.item-input {
  --background: transparent !important;
  border: 1px solid #999;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.item.item-input.item-has-focus {
  --background: transparent !important;
  --border-color: #52796f;
  --border-style: solid;
  --border-width: 1px !important;
  --border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.orLoginText {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem !important;
  color: #8c8c8c;
}

.container {
  text-align: center;
  position: relative;
  padding: 1rem;
  left: 0;
  right: 0;
  top: 0;
  /* transform: translateY(-50%); */
  background-color: #52796f;
}

.homeContainer {
  padding: 1rem;
  margin-bottom: 2rem;
  color: var(--ion-text-color);
}

.homecontent {
  background: var(--background);
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 1rem;
  min-height: calc(100% - 8.5rem);
}

.homecard {
  padding: 0.5rem;
}

.homecarditem {
  --background: transparent;
  --inner-border-width: 0;
}

#profileRounding {
  border-radius: 50%;
  background-color: var(--ion-background-color);
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-color: var(--ion-card-background);
  border-width: 0.3rem;
  border-style: solid;
  color: var(--ion-text-color);
}

#profilerounddiv {
  display: flex;
  justify-content: center;
  padding: 3rem 2rem;
}

#emailText {
  background: var(--ion-card-background);
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  font-size: 0.875rem;
}

#feedbackContent {
  padding: 2rem;
  font-size: 0.9rem;
  -webkit-user-select: text;
  user-select: text;
}
