#logoHeader {
  width: 2rem;
  margin-right: 1rem;
}

#titleContentHeader {
  display: flex;
  align-items: center;
}

.header-ios {
  --opacity-scale: 1 !important;
}

#header {
  z-index: auto;
}

.headerTitleSkeleton {
  line-height: 23px;
  margin: 20px 0;
}
