.title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.mt {
  margin-top: 2rem;
}
.img {
  max-width: 9rem;
  margin: 0;
}

.imgText {
  max-width: 9rem;
  margin: 0;
  font-size: 0.875rem;
  text-align: center;
  color: var(--ion-text-color);
}

.howTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  color: var(--ion-text-color);
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.5rem;
}
.howtocontent {
  padding: 1rem;
}
