.segment {
  margin: 0;
  width: 100%;
}

.toolbarSegment {
  padding: 0.5rem;
  background-color: var(--ion-color-primary, #52796f);
}

.mapContainerBooks {
  height: calc(100% - 144px);
}

#selectDistance {
  width: 100%;
}
